page-category {
    // scss的写法可以嵌套
    * {
        margin: 0px;
        padding: 0px;
    }
    .home_slides {
        height: 150px;
        width: 100%;
        ion-slide{
            height: 150px;
            width: 100%;
            img{
                height: 150px;
                width: 100%;
            }
        }
    }
    .home_title {
        font-size: 14px;
        padding: 5px 10px 5px 10px;

        color: #666;
        margin: 5px 0px 0px 0px;
    }
    .home_title:before {
        display: inline-block;
        border-left: 3px solid #F23030;
        height: 10px;
        width: 2px;
        content: "";
        top:-1px;
    }
    // 推荐商品
    .slide_product{

        ion-scroll {
            height: 120px;
            // width: 2000px;这里的2000一定要注释掉,动态的生成宽度
        }

        ul{
            list-style: none;
            padding: 0px 5px;
            li{
                width: 80px;
                height: 120px;
                float: left;    // 都浮动起了,需要清除浮动
                margin-right: 10px;
                p{
                    padding: 4px;
                    margin: 0px;
                }
            }
        }
    }
    /*热门商品*/
    .price{
        color:red;
        font-weight: 600;
    }
    .old_price{
        text-decoration: line-through;
        padding-left: 16px;
    }
    .hot_shop ion-col{
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
        margin-bottom:-1px;
    }

    .hot_shop ion-col:nth-child(2n+1){
        border-right:1px solid #eee;

    }
    .hot_shop .hot_shop_detail{
        // height: 3.2rem;
        overflow: hidden;
    }
    .hot_shop img{
        height:15rem;
        display: block;
        margin: 0 auto;
        max-width: 100%;

    }
    .hot_shop p{
        padding:.5rem 0px;
    }

}
