page-cart {

    .cart_list{

        display: flex;
        border: 1px solid #ccc;
        padding: 0px .5rem;
        dt{
            width: 10rem;   /*100px*/
            padding: 1rem 0px;
            display: flex;
            align-items: center;

            ion-checkbox{
                width: 2.8rem;
                height: 2.8rem;
            }
            img{
                flex: 1;
                height: 6rem;
                margin-right: .5rem;
            }
        }
        dd{
            flex: 1;
            .cart_title{
                font-size: 1.8rem;
                margin: 0px;
                font-weight: 600;
                padding: 1rem 0;
            }
            .cart_info {
                display: flex;
                // 左侧的price自适应,右侧固定宽度
                .cart_price{
                    flex: 1;
                    line-height: 2.8rem;
                    color: #f23030;
                }
                .cart_num{
                    width: 100px;
                    display: flex;
                    .input_left, .input_right{
                        width: 2.8rem;
                        height: 2.8rem;
                        border: 1px solid #ccc;
                        text-align: center;
                        background-color: #eee;
                        line-height: 2.8rem;
                    }
                    .input_center{
                        flex: 1;
                        input {
                            width: 100%;
                            height: 2.8rem;
                        border: 1px solid #ccc;
                        text-align: center;
                        }
                    }
                }
            }
        }
    }

    // 底部结算的css
    .allprice {
        height: 4.4rem;
        line-height:4.4rem;

        ion-checkbox{
            position: relative;
            top: .5rem;
        }
    }
    .cartSpinner {
        position:fixed;
        z-index:9999;
        top:50%;
        left:50%;
        width:350px; /* 按需改变数值 */
        height:250px; /* 按需改变数值 */
        margin-top:-125px; /* height数值的一半 */
        margin-left:-175px; /* width数值的一半 */
        background:#fff;
    }

}
