<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

    <ion-navbar>
        <ion-title>User</ion-title>
    </ion-navbar>

</ion-header> -->

<ion-content>
    <ion-card>

        <div class="upperArea">
            <div class="login" *ngIf="!userinfo">
                <div class="userimg">
                    <img src="assets/imgs/user.png" alt="">
                </div>
                <div class="login_reg">
                    <button ion-button [navPush]='LoginPage'>Sign In</button>
                    <button ion-button [navPush]='RegisterPage'>Sign Up</button>
                </div>
            </div>

            <div class="login" *ngIf="userinfo">
                <div class="userimg">
                    <!-- <ion-icon name="ios-arrow-forward" item-end></ion-icon> -->

                    <img src="assets/imgs/profile.jpg">
                </div>
                <h2>Username: {{userinfo.user.username}}</h2>
                <ion-icon name="md-arrow-forward" [navPush]='PersonalPage'></ion-icon>
                <h2>Email: {{userinfo.user.email}}</h2>

            </div>
        </div>

        <ion-item-divider></ion-item-divider>


        <ion-item (click)='goEditUserPage()'>
            <ion-icon name='md-ribbon' item-start style="color: #4EE7FC"></ion-icon>
            Update Info
        </ion-item>
        <ion-item (click)='goMyFavouritesPage()'>
            <ion-icon name='md-star' item-start style="color: #f3df6b"></ion-icon>
            Favourites
            <ion-badge ng-if="likesNum" item-end>{{likesNum}}</ion-badge>
        </ion-item>
        <ion-item (click)='goMyUploadsPage()'>
            <ion-icon name='md-cloud-upload' item-start style="color: #4E5EFC"></ion-icon>
            Uploads
            <ion-badge ng-if="uploadsNum" item-end>{{uploadsNum}}</ion-badge>
        </ion-item>
        <ion-item (click)='show()'>
            <ion-icon name='md-pricetags' item-start style="color: #ee9d06"></ion-icon>
            Rating
            <ion-badge ng-if="ratingNum" item-end>{{ratingNum}}</ion-badge>
        </ion-item>

        <ion-item-divider></ion-item-divider>
        <ion-item (click)='show()'>
            <ion-icon name='musical-notes' item-start style="color: #f53d3d"></ion-icon>
            Music
            <ion-badge item-end>260K</ion-badge>
        </ion-item>

        <ion-item (click)='show()'>
            <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
            Followers
            <ion-badge item-end>260k</ion-badge>
        </ion-item>


    </ion-card>
</ion-content>
