page-address {
    .tips {
        position:fixed;
        z-index:9999;
        top:50%;
        left:50%;
        width:350px; /* 按需改变数值 */
        height:250px; /* 按需改变数值 */
        margin-top:-125px; /* height数值的一半 */
        margin-left:-175px; /* width数值的一半 */
        background:#fff;
    }
}
