<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-searchbar [(ngModel)]="keyword"></ion-searchbar>
        <ion-buttons end>
            <button ion-button (click)='getSearchList(null)'>
                Search
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <!-- Judge if there is a text in search bar -->
    <div class="search_content" *ngIf="!flag">

        <div class="hotlist">
            <h3 class="search_title">Trending</h3>
            <p>
                <span *ngFor="let item of hotList" (click)="goSearch(item)">{{item}}</span>
                <!-- <span>Turku</span>
                <span>Beijing</span>
                <span>Denver</span>
                <span>Houston</span>
                <span>Oslo</span>
                <span>Budapest</span>
                <span>Warsaw</span> -->
            </p>

        </div>

        <div class="history">

            <h3 class="search_title">History</h3>
            <ion-list inset *ngFor="let item of historyList">
                <ion-item (tap)='goSearch(item)' (press)='removeHistory(item)'>
                    {{item}}
                </ion-item>
            </ion-list>

        </div>

    </div>

    <div class="list_content" *ngIf="flag">

        <div class="sub_header">
            <div style="font-weight:bold" (click)="showHottest()">Hottest</div>
            <div style="font-weight:bold" (click)="showMostViewed()">Most Viewed</div>
            <div style="font-weight:bold" (click)="showTopRated()">Top Rated</div>
        </div>

        <div class="searchStyle" *ngIf="searchList.length == 0">
            <img src="assets/imgs/404.gif" alt="">
        </div>

        <ion-list inset>
            <ion-item *ngFor="let item of searchList" (click)='toMediaInfoPage(item.file_id, item.user_id)'>
                <ion-thumbnail item-left>
                    <img [src]="config.fileUrl+item.filename" />
                </ion-thumbnail>
                <h2> {{item.title}}</h2>
                <p>Description:
                    <span class="price">{{item.description}}</span>
                </p>
            </ion-item>
        </ion-list>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasData">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
